
/* text color */
h1{
    color:tomato;
    background-color: rebeccapurple;
}

p{
    color:dodgerblue;
    background-color:black;
}
/* background color */

h2{
    color:grey;
}
h3{
    background-color:firebrick;
}
h4{
    background-color: rebeccapurple;
}
h5{
    background-color:gold;
}
/* border color */
#love{
    border: 10px solid violet;
}

.win {
    border:4px solid peru;
}
.power{
    color:peru;
    border: 5px solid violet;
}